@model SP_ASPNET_1.Models.Comment

    <div class="text-left" style="box-shadow:2px 2px 3px gray;border-left:2px solid purple;">
        <span style="color:darkslateblue">@Model.UserName</span>
        <p style="color:lightseagreen">@Model.body</p>
    </div>
