@model SP_ASPNET_1.Models.Comment

    <div class="text-left" style="box-shadow:2px 2px 3px gray;border-left:2px solid purple;">
        <div>
            <span style="color:darkslateblue;font-size:large;">@Model.UserName :</span>
            @*<button style="float:right;"><i class="fa fa-times"></i></button>*@
            @{
                var ID = "Comment" + Model.Id;
            }
            @Ajax.ActionLink(" ", "RemoveComment", new { id = Model.Id, blogId = Model.BlogPost.BlogPostID }, new AjaxOptions()
             {
               HttpMethod = "POST",
               OnSuccess = "deleteFunc('" + ID + "')",
               UpdateTargetId = "CommentsCount" + Model.BlogPostID
             }, new { id = ID, @class = "RemoveCommentLink" })
        </div>
        <p style="color:lightseagreen;">@Model.body</p>
    </div>
