@model IEnumerable<SP_ASPNET_1.Models.Comment>

@foreach(var item in Model)
{
    <div class="text-left" style="box-shadow:2px 2px 3px gray;border-left:2px solid purple;">
        <span style="color:darkslateblue;font-size:large;">@item.UserName :</span>
        <p style="color:lightseagreen" >@item.body</p>
    </div>
}
